html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
}

.card {
  border: solid;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.card .icon {
  margin-top: 50px;
  border: solid;
  border-radius: 50%;
}